@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


:root { 
/* Primary */
--Pink: hsl(322, 100%, 66%);
--LightPink: hsl(321, 100%, 78%);
--LightRed: hsl(0, 100%, 63%);

/* Neutral */
--VeryDarkCyan: hsl(192, 100%, 9%);
--VeryPaleBlue: hsl(207, 100%, 98%);

/* FontFamily */
font-size: 62.5%; 
font-weight: 800;
font-family: 'Poppins', sans-serif;
}

.text-black {
    color: var(--VeryDarkCyan);
}

.head__btn-tryItFree {
    cursor: pointer;
    padding: 0.5rem 3rem;
    transition: all 0.3s ease;
    color:hsl(321, 100%, 78%);
    background-color: #fff;
    border: 2px solid var(--LightPink);
    border-radius: 16px;
    
}

.head__btn-tryItFree:hover {
    transform: translateY(-2px);
}

body {
    text-align: center;
}

body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
}

.head {
    display: flex;
    flex-direction: row;
}

.head__img img {
    width: 50%;
}

.head__title{
    font-size: 2rem;
}

.container__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 6rem;
}

.container__text {
    margin-bottom: 2rem;
}

.container__btn-startedFree {
    background-color: var(--Pink);
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: white; 
    margin-bottom: 8rem;
}

main {
    margin: 0 5rem;
}

.imgCard{
    width: 60%;
    margin-bottom: 3rem;
}

.box {
    padding: 2rem 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numberBox {
    margin: 3rem 0;
}

.numberBox__num {
    font-size: 3.4rem;
}

.numberBox__text {
    color: black;
}

.numberBox__img {
    display: flex;    
    justify-content: flex-start;
}

.numberBox__image {
    width: 20%;
}

.card {
    padding: 2rem 0;
}

.card__img-together,
.card__img-flowing,
.card__img-users {
    width: 60%;
}

.card__text {
    margin-top: 3rem;
}

.card__text h2 {
    font-size: 2rem;
}

.build{
    margin-top: 3rem;
}

.build__card {
    padding: 3rem 0;
}

.newsletter {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}

.newsletter__title h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

.newsletter__title,
.newsletter__text{
    text-align: start;
    margin: 0.3rem 0;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.btns__input {
    margin-top: 2rem;
}

.btn__input-input{
    width: 95%;
    margin-bottom: 1rem;
    border-radius: 5px solid black;
}

.btns__btn-sub {
    background-color: var(--Pink);
    border: none;
    border-radius: 3px;
    padding: 0.8rem 3rem;
    color: white; 
    cursor: pointer;
}

footer{
    padding: 3rem;
}

.head__img-footer-title {
    font-size: 2rem;
}

.footer__text {
    margin-top: 2rem;
    text-align: start;
    padding-right: 2rem;
}

.footer__card {
    margin-top: 3rem;
}

.contact__card-phone,
.contact__card-email {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.contact__card-phone p {
    margin-left: 1rem;
}

.contact__card-email p {
    margin-left: 1rem;
}


.socialCards {
    display: flex;
    direction: row;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

/* Backgrounds */

footer{
    background-color: var(--VeryDarkCyan);
    color: white;
}

.bg__top-footer{
    width: 100%;
    position: relative;
    bottom: -6px;
}

/* MediaQueries */

@media screen and (min-width: 960px){
    :root{
        font-size: 95%;
    }
    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card{
        display: flex;
        flex-direction: row;
    }
    .card__img-together{
        flex-direction: row-reverse;
    }
    .container__text{
        max-width: 30rem;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .card__text{
        max-width: 40%;
    }

    .card__text p{
        font-size: 90%;
    }
    .bg__top-footer{
        bottom: -8px;
    }
    .newsletter{
        padding: 7rem;
    }
    footer{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .secondFooter{
        margin-top: 7rem;
    
    }

}








